
.swiper-slide {
    width: 100% !important;
  }  

.swiper-button-prev,
.swiper-button-next {
  color:#aef32f !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 40px !important;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #808080 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #bff163 !important;
  opacity: 1;
}